@media only screen and (min-width: 32.5em) {
    body {
        margin: 7.5vh auto;
        width: 600px;
        font-size: 100%;
    }
    h1 {
        text-align: center;
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    /*---------------------------------------HEADER---------------------------------------*/
    
    /*------------------------------------------------------------------------------------*/

    /*---------------------------------------FOOTER-------------------------------------*/

    footer p {
        text-align: center;
        font-size: 1em;
        margin-bottom: 0;
    }

    #lastmod {
        color: darkslateblue;
        font-size: 1em;
    }
    /*----------------------------------------------------------------------------------*/
}