/*---------------------------------------GLOBAL---------------------------------------*/
body {
    font-family: 'Josefin Sans',sans-serif;
    
}

h1 {
    font-size: 32px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}
.invisible {
    display: none;
}
.visible {
    display: block;
}
h3#meetingBanner {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #D8E279;
    padding: 0.5rem 0;
    top: 0;
}
/*---------------------------------------HEADER---------------------------------------*/
header {
    width: 100%;
    display: block;
    background-color: rgba(216, 226, 121, 0.05);
    margin-bottom: 0;
}

img.siteLogo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
h1.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #D8E279;
    margin-bottom: 0;
}

h2.subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
}

h3.todayDate {
    text-align: center;
}

/*------------------------------------------NAV---------------------------------------*/


#facebook img, #twitter img {
    width: 1rem;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
}
nav {
    margin-top: 0;
    margin-bottom: 3vh;
    background-color: rgba(216, 226, 121, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-align: center;
    padding: .8rem 0;
    display: block;
    text-decoration: none;
    color: #333;
    border-top: 1px solid white;
}

nav ul li a:hover {
    background-color: rgba(197, 237, 182, 0.3);
}

nav ul li.active a {
    background-color: rgba(197, 237, 182, 0.2);
    font-weight: 700;
    color: #000;
}

nav ul {display:none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/*---------------------------------------MAIN---------------------------------------*/

main {
    display: block;
    width: 100%;
}
.card {
    width: 100%;
    margin: 1rem 0;
    background-color: #333;
    position: relative;
}
.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}
.card h2 {
    color: #fff;
    position: absolute;
    top: 25px;
	left: 50px;
    transition: .5s ease;
    opacity: 0;
}
.card:hover img {
    opacity: 0.3;
  }

.card:hover h2 {
    opacity: 1;
}

div#join {
    display: none;
}
div#spotlight3 {
    display: none;
}


/*----------------------------------------------------------------------------------*/



/*---------------------------------------FOOTER-------------------------------------*/
footer {
    text-align: center;
    display: block;
    background-color: rgba(216, 226, 121, 0.05);
    padding: 1rem 0 0;
}

footer .siteLogo {
    width: 100px;
}
p#location a {
    text-decoration: none;
    color: #000;
}

p#foot {
    text-align: center;
    background-color: #d8e279;
    padding: 0.5rem;
}

/*----------------------------------------------------------------------------------*/