@media only screen and (min-width: 64rem) {
    body {
        font-size: 100%;
    }
    main {
        margin: 2.5vh 10vw;
    }
    /*---------------------------------------HEADER---------------------------------------*/
    #company-info {
        margin: auto auto auto 10vw;
    }   

    nav {
        margin: auto 10vw auto auto;
    }
    
    /*---------------------------------------NAV---------------------------------------*/
   
    /*------------------------------------------------------------------------------------*/

    /*---------------------------------------MAIN---------------------------------------*/
    main.home {
        grid-template-rows: repeat(3, 20rem);
        column-gap: 1.5vw;
    }
    div#CTA {
        grid-column: 1 / 10;
        grid-row: 1 / 4;
    }
    div#weather {
        grid-column: 10 / 13;
        grid-row: 1 / 2;
    }
    div#summary {
        grid-column: 10 / 13;
        grid-row: 2 / 3;
    }
    div#drinks {
        display: inline;
        grid-column: 10 / 13;
        grid-row: 3 / 4;
    }

    /*----------------------------------------------------------------------------------*/

    /*---------------------------------------FOOTER---------------------------------------*/
    footer {
        display: grid;
        margin: 0 10vw;
    }
    
    /*----------------------------------------------------------------------------------*/
    
    
    /*----------------------------------------------------------------------------------*/
    /*----------------------------------DISCOVERY.HTML----------------------------------*/
    /*----------------------------------------------------------------------------------*/

    main.discover {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 5rem 2rem max-content 20rem;
        grid-gap: 1rem;
        margin-bottom: 5rem;
        text-align: left;
    }
    main.discover h2 {
        font-size: 2.5rem;
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        text-align: center;
        margin: auto;
    }
    #visitCounter {
        color: #333;
        margin: auto;
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }
    main.discovery p {
        margin: auto;
        width: 100%;
    }
    #poblation {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    #age-distribution {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #proximity {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    #rivers {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    
    #climate {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    }
    /*----------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------*/


    
    /*----------------------------------------------------------------------------------*/
    /*----------------------------------JOIN.HTML----------------------------------*/
    /*----------------------------------------------------------------------------------*/
    main.join {
        width: 95%;
        margin: auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(12, 6.25%);
    }
    main.join h1 {
        text-align: center;
        grid-column: 1 / 15;
    }
    main.join form {
        grid-column: 1 / 6;
    }

    .join .scrolling-wrapper-flexbox {
        grid-column: 7 / 13;
    }

    /*----------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------*/
}