@media only screen and (min-width: 64rem) {
    body {
        font-size: 100%;
    }
    main {
        margin: 2.5vh 10vw;
    }
    /*---------------------------------------HEADER---------------------------------------*/
    #company-info {
        margin: auto auto auto 10vw;
    }   

    nav {
        margin: auto 10vw auto auto;
    }
    
    /*---------------------------------------NAV---------------------------------------*/
   
    /*------------------------------------------------------------------------------------*/

    /*---------------------------------------MAIN---------------------------------------*/
    main.home {
        grid-template-rows: repeat(3, 20rem);
    }
    div#CTA {
        grid-column: 1 / 10;
        grid-row: 1 / 4;
    }
    /*---------------------------------------CTA---------------------------------------*/
    div#CTAbox {
        background-color: rgba(201, 221, 255, 0.5);
        padding: 2.5rem;
        right: 50%;
    }
    #CTAbox h1 {
        font-size: 5rem;
        text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    }  
    #CTAbox p {
        max-width: 20rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #CTAbox button {
        font-size: 2.5rem;
        padding: 1rem 2rem;
        float: right;
    }
    /*---------------------------------------CTA---------------------------------------*/
    div#weather {
        grid-column: 10 / 13;
        grid-row: 1 / 2;
    }
    div#summary {
        grid-column: 10 / 13;
        grid-row: 2 / 3;
    }
    div#drinks {
        display: inline;
        grid-column: 10 / 13;
        grid-row: 3 / 4;
    }

    /*----------------------------------------------------------------------------------*/

    /*---------------------------------------FOOTER---------------------------------------*/
    footer {
        display: grid;
        margin: 0 10vw;
    }
    
    /*----------------------------------------------------------------------------------*/
    
    
    /*----------------------------------------------------------------------------------*/
/*----------------------------------FRESH.HTML------------------------------------*/
/*----------------------------------------------------------------------------------*/
main.fresh {
    font-size: 100%;
    height: 100vh;
}
.fresh img {
    width: 100%;
    height: 100%;
    filter: brightness(85%);
    object-fit: cover;
}
.fresh h1 {
    font-family: 'Solway', serif;
    color: #fff;
    text-align: center;
}
.fresh form {
    position: absolute;
    top: 20%;
    left: 15%;
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color:rgba(51, 51, 51, 0.5);
    padding: 2rem;
}
.fresh form label {
    color: #fff;
}
.fresh form input, select, textarea {
    margin: 0.3rem 0 1rem;
    padding: 0.3rem;
}

.fresh #submitButton {
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #FE5E41;
    border: #fff 1px solid;
    border-radius: 50px;
    display: block;
    margin: 2rem auto;
}
.fresh #submitButton:hover {
    color: #00A878;
    background-color: #D8F1A0;
    border: #00A878 1px solid;
    cursor: pointer;
}
.fresh #submitButton:disabled {
    color: #fff;
    background-color: #555;
    border: #fff 1px solid;
    cursor: not-allowed;
}

/*-------------------------------------OUTPUT AREA-------------------------------------*/

.fresh #outputArea {
    position: absolute;
    top: 30%;
    right: 15%;
    width: fit-content;
    background-color: #FE5E41;
    padding: 2rem;
}

.fresh #outputArea p {
    color: #fff;
    margin: 0.3rem 0;
}
.fresh #outputArea #carbs {
    margin-top: 1.5rem;
}
.fresh #outputArea button {
    width: 7rem;
    margin: 1rem 1rem 0 0;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    
    border-radius: 50px;
}
.fresh #outputArea button:hover {
    color: #333;
    background-color: #fff;
    border: #333 1px solid;
    cursor: pointer;
}
.fresh #outputArea #outputAreaHeader {
    font-family: 'Solway', serif;
    color: #fff;
    text-align: center;
}

/*-------------------------------------OUTPUT AREA-------------------------------------*/
}