@media only screen and (min-width: 32em) {
    
    main {
        width: auto;
        margin: 2.5vh 5vw;
    }
    /*---------------------------------------HEADER---------------------------------------*/
    header {
        display: grid;
        grid-template-columns: repeat(2, auto);
        background-color: #fff;
        padding: 2vh 0;
    }

    #company-info .siteLogo {
        width: 100px;
    }
    #company-info {
        grid-column: 1 / 2;
        margin: auto auto auto 5vw;
    }   

    nav {
        grid-column: 2 / 3;
        display: flex;
        margin: auto 5vw auto auto;
    }
    /*------------------------------------------NAV---------------------------------------*/

    nav button {display: none;}

    nav ul#primaryNav {
        display: flex;
        border: none;
    }
    nav ul li a {
        padding: 1vh 2vw;
    }

    /*------------------------------------------------------------------------------------*/

    /*---------------------------------------MAIN---------------------------------------*/
    main.home {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 7rem);
        gap: 1rem;
    }
    .card {
        margin: 0;
        position: relative;
    }
    div#CTA {
        grid-column: 1 / 9;
        grid-row: 1 / 5;
    }
    /*---------------------------------------CTA---------------------------------------*/
    div#CTAbox {
        padding: 1.5rem;
        right: 35%;
        bottom: auto;
    }
    #CTAbox h1 {
        text-align: left;
    }
    #CTAbox p {
        text-align: left;
    }
    #CTAbox button {
        margin-top: 2rem;
    }
    /*---------------------------------------CTA---------------------------------------*/
    div#summary {
        grid-column: 9 / 13;
        grid-row: 1 / 4;
        height: auto;
    }
    div#drinks {
        display: inline;
        grid-column: 9 / 13;
        grid-row: 4 / 7;
        height: auto;
    }
    div#weather {
        grid-column: 1 / 9;
        grid-row: 5 / 7;
        height: auto;
    }
    /*----------------------------------------------------------------------------------*/

    /*---------------------------------------FOOTER-------------------------------------*/
    footer {
        grid-template-columns: 150px auto auto;
    }
    
    footer .siteLogo {
        width: 100px;
        grid-column: 1 / 2;
        grid-row:  1 / 6;
        align-self: center;
        justify-self: center;
    }
    footer #SM-list {
        grid-column: 3 / 4;
        grid-row: 1 / 6;
        justify-content: end;
        align-items: center;
        margin: 0;
        margin-right: 5vw;
    }
    footer #SM-list li {
        margin-right: 0;
    }
    footer #SM-list li img {
        width: 75%;
    }
    footer #foot {
        grid-column: 1 / 4;
    }
    /*----------------------------------------------------------------------------------*/

    /*----------------------------------------------------------------------------------*/
/*----------------------------------FRESH.HTML------------------------------------*/
/*----------------------------------------------------------------------------------*/
main.fresh {
    /*margin-bottom: 5rem;*/
    font-size: 85%;
}
.fresh img {
    width: 100%;
    height: 100%;
    filter: brightness(85%);
    object-fit: cover;
}
.fresh h1 {
    font-family: 'Solway', serif;
    color: #fff;
    text-align: center;
}
.fresh form {
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color:rgba(51, 51, 51, 0.5);
    padding: 1.5rem;
}
.fresh form label {
    color: #fff;
}
.fresh form input, select, textarea {
    margin: 0.3rem 0 1rem;
    padding: 0.3rem;
}

.fresh #submitButton {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #FE5E41;
    border: #fff 1px solid;
    border-radius: 50px;
    display: block;
    margin: 2rem auto;
}
.fresh #submitButton:hover {
    color: #00A878;
    background-color: #D8F1A0;
    border: #00A878 1px solid;
    cursor: pointer;
}
.fresh #submitButton:disabled {
    color: #fff;
    background-color: #555;
    border: #fff 1px solid;
    cursor: not-allowed;
}

/*-------------------------------------OUTPUT AREA-------------------------------------*/

.fresh #outputArea {
    position: absolute;
    top: 30%;
    left: auto;
    right: 10%;
    width: fit-content;
    background-color: #FE5E41;
    padding: 2rem;
}

.fresh #outputArea p {
    color: #fff;
    margin: 0.3rem 0;
}
.fresh #outputArea #carbs {
    margin-top: 1.5rem;
}
.fresh #outputArea button {
    width: 7rem;
    margin: 1rem 1rem 0 0;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    
}
.fresh #outputArea button:hover {
    color: #333;
    background-color: #fff;
    border: #333 1px solid;
    cursor: pointer;
}
.fresh #outputArea #outputAreaHeader {
    font-family: 'Solway', serif;
    color: #fff;
    text-align: center;
}

/*-------------------------------------OUTPUT AREA-------------------------------------*/


/*----------------------------------------------------------------------------------*/
/*----------------------------------ABOUT-US.HTML------------------------------------*/
/*----------------------------------------------------------------------------------*/

.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 5rem;
    margin-bottom: 5rem;
}
.about-us img {
    width: 85%;
    object-fit: cover;
    display: block;
    margin: 3.5rem auto;
    border-radius: 50px;
}
.about-us h1 {
    font-family: 'Solway', serif;
    font-size: 5rem;
    color: #FE5E41;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
}
.about-us p {
    width: 85%;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 2rem;
    display: block;
    margin: auto;
}
.about-us #firstParagraph{
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}
.about-us #firstImage{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}
.about-us #secondImage{
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}
.about-us #secondParagraph{
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}
.about-us #thirdParagraph{
    grid-column: 1 / 2;
    grid-row: 4 / 5;

}
.about-us #thirdImage{
    grid-column: 2 / 3;
    grid-row: 4 / 5;

}
.about-us #fourthImage{
    grid-column: 1 / 2;
    grid-row: 5 / 6;

}
.about-us #fourthParagraph{
    grid-column: 2 / 3;
    grid-row: 5 / 6;

}


}