body {
    margin: 7.5vh auto;
    width: 475px;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

/*---------------------------------------HEADER---------------------------------------*/
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    margin-bottom: 1.5em;
}

#photo {

    grid-column: 1;
    grid-row: 1 / 3;
    max-width: 90%;
    height: auto;
    border-style: double;
    border-width: 4px;
}

#title {
    margin: auto;
    grid-column: 2 / 4;
    grid-row: 1 / 2 ;
}

#subtitle {
    margin: auto;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
/*------------------------------------------------------------------------------------*/


/*---------------------------------------MAIN---------------------------------------*/

ul {
    list-style-type: circle;
}

li {
    margin: 7px auto;
}
/*----------------------------------------------------------------------------------*/



/*---------------------------------------FOOTER-------------------------------------*/

footer p {
    text-align: center;
}

#lastmod {
    color: darkblue;
}
/*----------------------------------------------------------------------------------*/